<!doctype html>
{%- capture dir -%}
  {%- case request.locale.iso_code -%}
    {%- when 'ae' or 'ar' or 'arc' or 'bcc' or 'bqi' or 'ckb' or 'dv' or 'fa' or 'glk' or 'ha' or 'he' or 'kwh' or 'ks' or 'ku' or 'mzn' or 'nqo' or 'pnb' or 'ps' or 'sd' or 'ug' or 'ur' or 'yi' -%}
    rtl
  {%- else -%}
    ltr
  {%- endcase -%}
{%- endcapture -%}
<html
  class="no-js"
  lang="{{ request.locale.iso_code }}"
  dir="{{ dir }}">
  <head>
<link rel='preconnect dns-prefetch' href='https://api.config-security.com/' crossorigin />
<link rel='preconnect dns-prefetch' href='https://conf.config-security.com/' crossorigin />
<link rel='preconnect dns-prefetch' href='https://triplewhale-pixel.web.app/' crossorigin />
<script>
/* >> TriplePixel :: start*/
window.TriplePixelData={TripleName:"dandelion-chocolate.myshopify.com",ver:"1.9"},function(W,H,A,L,E,_,B,N){function O(U,T,P,H,R){void 0===R&&(R=!1),H=new XMLHttpRequest,P?(H.open("POST",U,!0),H.setRequestHeader("Content-Type","application/json")):H.open("GET",U,!0),H.send(JSON.stringify(P||{})),H.onreadystatechange=function(){4===H.readyState&&200===H.status?(R=H.responseText,U.includes(".txt")?eval(R):P||(N[B]=R)):(299<H.status||H.status<200)&&T&&!R&&(R=!0,O(U,T-1))}}if(N=window,!N[H+"sn"]){N[H+"sn"]=1;try{A.setItem(H,1+(0|A.getItem(H)||0)),(E=JSON.parse(A.getItem(H+"U")||"[]")).push(location.href),A.setItem(H+"U",JSON.stringify(E))}catch(e){}var i,m,p;A.getItem('"!nC`')||(_=A,A=N,A[H]||(L=function(){return Date.now().toString(36)+"_"+Math.random().toString(36)},E=A[H]=function(t,e){return"State"==t?E.s:(W=L(),(E._q=E._q||[]).push([W,t,e]),W)},E.s="Installed",E._q=[],E.ch=W,B="configSecurityConfModel",N[B]=1,O("https://conf.config-security.com/model",5),i=L(),m=A[atob("c2NyZWVu")],_.setItem("di_pmt_wt",i),p={id:i,action:"profile",avatar:_.getItem("auth-security_rand_salt_"),time:m[atob("d2lkdGg=")]+":"+m[atob("aGVpZ2h0")],host:A.TriplePixelData.TripleName,url:window.location.href,ref:document.referrer,ver:window.TriplePixelData.ver},O("https://api.config-security.com/",5,p),O("https://triplewhale-pixel.web.app/dot1.9.txt",5)))}}("","TriplePixel",localStorage);
/* << TriplePixel :: end*/
</script>
    <!-- Google Tag Manager -->
    <script>(function(w,d,s,l,i){w[l]=w[l]||[];w[l].push({'gtm.start':
      new Date().getTime(),event:'gtm.js'});var f=d.getElementsByTagName(s)[0],
      j=d.createElement(s),dl=l!='dataLayer'?'&l='+l:'';j.async=true;j.fetchpriority="low";j.src=
      'https://www.googletagmanager.com/gtm.js?id='+i+dl;f.parentNode.insertBefore(j,f);
      })(window,document,'script','dataLayer','GTM-W3LZXNQ');</script>
    <!-- End Google Tag Manager -->
    
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge,chrome=1">
    <meta name="viewport" content="width=device-width, initial-scale=1, maximum-scale=5, viewport-fit=cover">
    <meta name="theme-color" content="{{ settings.color_body_bg }}">
    <link rel="canonical" href="{{ canonical_url }}">
    <link
      rel="preconnect"
      href="https://cdn.shopify.com"
      crossorigin>
    <link href="https://cdn.getshogun.com" rel="preconnect" crossorigin> 
    
    {% render 'head-preload' %}

    {% if settings.favicon != blank -%}
      <link
        rel="icon"
        type="image/png"
        href="{{ settings.favicon | image_url: width: 32, height: 32 }}">
    {%- endif %}

    <img width="99999" alt="lcp-image" height="99999" style="pointer-events: none; position: absolute; top: 0; left: 0; width: 99vw; height: 99vh; max-width: 99vw; max-height: 99vh;"  src="data:image/svg+xml;base64,PD94bWwgdmVyc2lvbj0iMS4wIiBlbmNvZGluZz0iVVRGLTgiPz48c3ZnIHdpZHRoPSI5OTk5OXB4IiBoZWlnaHQ9Ijk5OTk5cHgiIHZpZXdCb3g9IjAgMCA5OTk5OSA5OTk5OSIgdmVyc2lvbj0iMS4xIiB4bWxucz0iaHR0cDovL3d3dy53My5vcmcvMjAwMC9zdmciIHhtbG5zOnhsaW5rPSJodHRwOi8vd3d3LnczLm9yZy8xOTk5L3hsaW5rIj48ZyBzdHJva2U9Im5vbmUiIGZpbGw9Im5vbmUiIGZpbGwtb3BhY2l0eT0iMCI+PHJlY3QgeD0iMCIgeT0iMCIgd2lkdGg9Ijk5OTk5IiBoZWlnaHQ9Ijk5OTk5Ij48L3JlY3Q+IDwvZz4gPC9zdmc+">

    <title>
      {{ page_title }}{% if current_tags %}
        {% assign meta_tags = current_tags | join: ', ' %} &ndash; {{ 'general.meta.tags' | t: tags: meta_tags }}{% endif %}
      {% if current_page != 1 %}
        &ndash; {{ 'general.meta.page' | t: page: current_page }}{% endif %}
      {% unless page_title contains shop.name %}
        &ndash; {{ shop.name }}{% endunless %}
    </title>

    {% if page_description %}
      <meta name="description" content="{{ page_description | escape }}">
    {% endif %}

    {%- unless settings.heading_font.system? and settings.body_font.system? -%}
      <link
        rel="preconnect"
        href="https://fonts.shopifycdn.com"
        crossorigin>
    {%- endunless -%}

    {% render 'social-meta-tags' %}

    {{ 'font-face.css' | asset_url | stylesheet_tag }}
    {{ 'app.css' | asset_url | stylesheet_tag }}
    {{ 'base.css' | asset_url | stylesheet_tag }}
    {{ 'shogun.css' | asset_url | stylesheet_tag }}

    {% render 'head-variables' %}

    <script>
      window.theme = window.theme || {};
      theme = {
        settings: {
          money_with_currency_format: {{- shop.money_format | json -}},
          cart_drawer: {{- settings.cart_drawer -}}
        },
        routes: {
          root_url: '{{ routes.root_url }}',
          cart_url: '{{ routes.cart_url }}',
          cart_add_url: '{{ routes.cart_add_url }}',
          search_url: '{{ routes.search_url }}',
          cart_change_url: '{{ routes.cart_change_url }}',
          cart_update_url: '{{ routes.cart_update_url }}',
          predictive_search_url: '{{ routes.predictive_search_url }}'
        },
        variantStrings: {
          addToCart: `{{ 'products.product.add_to_cart' | t }}`,
          soldOut: `{{ 'products.product.sold_out' | t }}`,
          unavailable: `{{ 'products.product.unavailable' | t }}`
        },
        strings: {
          requiresTerms: `{{ 'sections.cart.terms_confirm' | t }}`
        }
      };
    </script>
    {{ content_for_header }}
    <!-- Header hook for plugins -->

    <script>
      document.documentElement.className = document.documentElement.className.replace('no-js', 'js');
    </script>

    <script src="https://cdn.speedcurve.com/js/lux.js?id=516060344" defer crossorigin="anonymous"></script>

    {% unless checkout_page %}
      {% render 'little-data', customer:customer %}  
    {% endunless %}

    <!-- Zapiet | Store Pickup + Delivery -->
    {% if request.page_type == 'cart' %}
      {%- include 'cart-pickup' %}
    {% endif %}
    
    {% render 'shogun-head' %}

    <script src="{{ 'vendor.min.js' | asset_url }}"></script>
    <script src="{{ 'jquery.min.js' | asset_url }}"></script>
    <script src="{{ 'custom.js' | asset_url }}" defer></script>

    <!-- Lucky Orange -->
    <script type='text/javascript'>
    window.__wtw_lucky_site_id = 122654;
    (function() {
    var wa = document.createElement('script'); wa.type = 'text/javascript'; wa.async = true; wa.fetchpriority = "low";
    wa.src = 'https://d10lpsik1i8c69.cloudfront.net/w.js';
    var s = document.getElementsByTagName('script')[0]; s.parentNode.insertBefore(wa, s);
    })();
    </script>
  </head>
  {% assign show = true %}
  {% for tag in product.tags %}
    {% if tag contains 'hide_from_rebuy' %}
      {% assign show = false %}
    {% endif %}
  {% endfor %}
  <body class="animations-{{ settings.animations }} button-uppercase-{{ settings.button_uppercase }} navigation-uppercase-{{ settings.navigation_uppercase }} product-title-uppercase-{{ settings.product_title_uppercase }}{% if customer %} customer-logged-in{% endif %} template-{{ template | replace: '.', ' ' | truncatewords: 1, '' | handle }} template-{{ template | replace: '.', '-' | handle }} {% if show != true or product.metafields.info.show_rebuy != true %}hide-rebuy{% endif %}">
    <!-- Google Tag Manager (noscript) -->
    <noscript><iframe src="https://www.googletagmanager.com/ns.html?id=GTM-W3LZXNQ"
    height="0" width="0" style="display:none;visibility:hidden"></iframe></noscript>
    <!-- End Google Tag Manager (noscript) -->
    
    <a class="screen-reader-shortcut" href="#main-content">{{ 'accessibility.skip_to_text' | t }}</a>
    
    <div id="wrapper">
      {% sections 'header-group' %}
      <div role="main" id="main-content">
        {{ content_for_layout }}
      </div>
      {% sections 'footer-group' %}
      {% render 'cart-drawer' %}
      {% render 'product-drawer' %}
      {% render 'search-drawer' %}
      <div class="click-capture"></div>
    </div>

    {% if settings.animations %}
      {{ 'animations.min.js' | asset_url | script_tag }}
      <script>
        gsap.defaults({ease: Power4.easeOut});
        gsap.config({nullTargetWarn: false});
        gsap.registerPlugin(ScrollTrigger);
      </script>
    {% endif %}
    
    {% if settings.enable_quick_view %}
      <script src="{{ 'product.js' | asset_url }}" defer="defer"></script>
    {% endif %}
    
    {{ 'slideshow.js' | asset_url | script_tag }}
    {{ 'app.js' | asset_url | script_tag }}
    
    <script
      type="module"
      src="{{ 'scroll-shadow.js' | asset_url }}"
      defer="defer"></script>
    <script src="{{ 'predictive-search.js' | asset_url }}" defer="defer"></script>
    
    {%- if request.design_mode -%}
      {{ 'theme-editor.js' | asset_url | script_tag }}
    {%- endif -%}
    
    {%- if settings.cart_recommendations -%}
      <script src="{{ 'product-recommendations.js' | asset_url }}" defer="defer"></script>
    {%- endif -%}

    {% comment %}
      {% render 'back-to-top' %}
    {% endcomment %}
    
    <script src="//instant.page/5.2.0" type="module" integrity="sha384-jnZyxPjiipYXnSU0ygqeac2q7CVYMbh84q0uHVRRxEtvFPiQYbXWUorga2aqZJ0z"></script>

    {% render 'gorgias' %}
  </body>
</html>