{{- 'category-hero.css' | asset_url | stylesheet_tag -}}

{%- liquid
	assign color_bg = section.settings.color_bg | downcase
	assign color_text = section.settings.color_text
	assign disable_top_spacing = section.settings.disable_top_spacing
	assign disable_bottom_spacing = section.settings.disable_bottom_spacing
-%}

<div class="category__hero--wrapper" style="background-color: {{ color_bg }};">
  <div class="row pt-90 pb-90 section-spacing-padding{% if disable_top_spacing %} section-spacing--disable-top{% endif %}{% if disable_bottom_spacing %} section-spacing--disable-bottom{% endif %}">
    <div class="content__left">
      {% if section.settings.subheading != blank %}
        <p class="subheading sh4 mb-45 hide-mobile" style="color: {{ color_text }};">{{ section.settings.subheading }}</p>
      {% endif %}
      {% if section.settings.subheading_mobile != blank %}
        <p class="subheading sh4 mb-45 hide-desktop" style="color: {{ color_text }};">{{ section.settings.subheading_mobile }}</p>
      {% else %}
        <p class="subheading sh4 mb-45 hide-desktop" style="color: {{ color_text }};">{{ section.settings.subheading }}</p>
      {% endif %}
      
      {% if section.settings.heading != blank %}
        <h3 class="heading mb-45" style="color: {{ color_text }};" >{{ section.settings.heading | newline_to_br }}</h3>
      {% endif %}
      {% if section.settings.button_text_1 != blank %}
        <a class="btn {{ section.settings.button_style_1 }} hide-mobile" href="{{ section.settings.button_link_1 }}" role="button" title="{{ section.settings.button_text_1 | escape }}" >
          <span>{{ section.settings.button_text_1 }}</span>
        </a>
      {% endif %}
      {% if section.settings.button_text_2 != blank %}
        <a class="btn {{ section.settings.button_style_2 }} hide-mobile" href="{{ section.settings.button_link_2 }}" role="button" title="{{ section.settings.button_text_2 | escape }}" >
          <span>{{ section.settings.button_text_2 }}</span>
        </a>
      {% endif %}
    </div>
    <div class="content__right">
      {% for block in section.blocks %}
        <a href="{{ block.settings.link }}" class="category_item">
          {% if block.settings.image != blank %}
            <div class="category_image">
              {{ block.settings.image | image_url:width:original | image_tag }}
            </div>
          {% else %}
            <div class="category_image placeholder">
              {{ 'image' | placeholder_svg_tag: 'placeholder_svg_tag' }}
            </div>
          {% endif %}
          {% if block.settings.title != blank %}
            <div class="category_title body" style="color: {{ color_text }};">
              {{ block.settings.title }}
            </div>
          {% endif %}
          {% if block.settings.text != blank %}
            <div class="category_text" style="color: {{ color_text }};">
              {% render 'clock' %}{{ block.settings.text }}
            </div>
          {% endif %}
        </a>
      {% endfor %}
    </div>

    <div class="btn__wrapper hide-desktop">
      {% if section.settings.button_text_1 != blank %}
        <a class="btn {{ section.settings.button_style_1 }}" href="{{ section.settings.button_link_1 }}" role="button" title="{{ section.settings.button_text_1 | escape }}" >
          <span>{{ section.settings.button_text_1 }}</span>
        </a>
      {% endif %}
      {% if section.settings.button_text_2 != blank %}
        <a class="btn {{ section.settings.button_style_2 }}" href="{{ section.settings.button_link_2 }}" role="button" title="{{ section.settings.button_text_2 | escape }}" >
          <span>{{ section.settings.button_text_2 }}</span>
        </a>
      {% endif %}
    </div>
      
  </div>
</div>

{% schema %}
{
  "name": "Category Hero",
  "max_blocks": 2,
  "settings": [
    {
      "type": "header",
      "content": "Colors"
    },
    {
      "type": "color",
      "id": "color_bg",
      "label": "Background",
      "default": "#FFFDF9"
    },
    {
      "type": "color",
      "id": "color_text",
      "label": "Text",
      "default": "#333333"
    },
    {
      "type": "header",
      "content": "Content"
    },
    {
      "type": "text",
      "id": "subheading",
      "label": "Desktop Subheading",
      "default": "Subheading"
    },
    {
      "type": "text",
      "id": "subheading_mobile",
      "label": "Mobile Subheading"
    },
    {
      "type": "text",
      "id": "heading",
      "label": "Heading",
      "default": "Lorem Ipsum is simply dummy text of the printing and typesetting industry."
    },
    {
      "type": "header",
      "content": "Button"
    },
    {
      "id": "button_text_1",
      "type": "text",
      "label": "Button label",
      "default": "Shop Now",
      "info": "Leave the label blank to hide the button."
    },
    {
      "id": "button_link_1",
      "type": "url",
      "label": "Button link"
    },
    {
      "type": "select",
      "id": "button_style_1",
      "label": "Button Style",
      "options": [
        {
          "value": "btn",
          "label": "Default Button"
        },
        {
          "value": "btn--outline",
          "label": "Outline button"
        },
        {
          "value": "btn--gold",
          "label": "Gold button"
        },
        {
          "value": "btn--gray",
          "label": "Gray button"
        },
        {
          "value": "btn--white",
          "label": "White button"
        },
        {
          "value": "btn--white-outline",
          "label": "White Outline Button"
        },
        {
          "value": "btn--light-gold",
          "label": "Light gold button"
        }
      ],
      "default": "btn"
    },
    {
      "id": "button_text_2",
      "type": "text",
      "label": "Button label",
      "default": "Shop Now",
      "info": "Leave the label blank to hide the button."
    },
    {
      "id": "button_link_2",
      "type": "url",
      "label": "Button link"
    },
    {
      "type": "select",
      "id": "button_style_2",
      "label": "Button Style",
      "options": [
        {
          "value": "btn",
          "label": "Default Button"
        },
        {
          "value": "btn--outline",
          "label": "Outline button"
        },
        {
          "value": "btn--gold",
          "label": "Gold button"
        },
        {
          "value": "btn--gray",
          "label": "Gray button"
        },
        {
          "value": "btn--white",
          "label": "White button"
        },
        {
          "value": "btn--white-outline",
          "label": "White Outline Button"
        },
        {
          "value": "btn--light-gold",
          "label": "Light gold button"
        }
      ],
      "default": "btn--outline"
    },
    {
      "type": "header",
      "content": "Spacing"
    },
    {
      "type": "checkbox",
      "id": "disable_top_spacing",
      "default": false,
      "label": "Remove top spacing"
    },
    {
      "type": "checkbox",
      "id": "disable_bottom_spacing",
      "default": false,
      "label": "Remove bottom spacing"
    }
  ],
  "blocks": [
    {
      "type": "category",
      "name": "Category",
      "settings": [
        {
          "type": "image_picker",
          "id": "image",
          "label": "Image"
        },
        {
          "type": "text",
          "id": "title",
          "label": "Title",
          "default": "Heading"
        },
        {
          "type": "richtext",
          "id": "text",
          "label": "Text",
          "default": "<p>2½ Hours</p>"
        },
        {
          "type": "url",
          "id": "link",
          "label": "Link"
        }
      ]
    }
  ],
  "presets": [
    {
      "name": "Category Hero",
      "blocks": [
        {
          "type": "category"
        },
        {
          "type": "category"
        }
      ]
    }
  ]
}
{% endschema %}
