{%- assign collapsible_tabs = section.blocks | where: "type", "collapsible_tab" -%}
{%- if collapsible_tabs -%}
{{- 'collapsible-content.css' | asset_url | stylesheet_tag -}}
{%- endif -%}
{{- 'image-with-text.css' | asset_url | stylesheet_tag -}}
{{- 'custom-image-with-text.css' | asset_url | stylesheet_tag -}}
{%- liquid
	assign section_width = section.settings.section_width
	assign image = section.settings.image
	assign height = section.settings.height
	assign content_position = section.settings.content_position
	assign desktop_image_width = section.settings.desktop_image_width
	assign desktop_layout = section.settings.layout
	assign color_bg = section.settings.color_bg
	assign color_text = section.settings.color_text
	assign disable_top_spacing = section.settings.disable_top_spacing
	assign disable_bottom_spacing = section.settings.disable_bottom_spacing

	assign ratio = 1
	if height == 'adapt' and image != blank
		assign ratio = image.aspect_ratio
	endif
-%}
<div id="{{ section.id }}" class="row {{ section_width }} {{ section.settings.custom_class }} custom__image--text">
	<div class="small-12 columns">
		<div class="image-with-text grid--image-{{ desktop_image_width }} {{ desktop_layout }} {{ content_position }} section-spacing{% if disable_top_spacing %} section-spacing--disable-top{% endif %}{% if disable_bottom_spacing %} section-spacing--disable-bottom{% endif %}" style="--color-bg:{{ color_bg }};--color-text:{{ color_text }};--color-text-rgb: {{ color_text | color_extract: 'red' }}, {{ color_text | color_extract: 'green' }}, {{ color_text | color_extract: 'blue' }}; --bg-body: {{ color_bg }};">
			<div class="image-with-text__image image-with-text__inner">
				<div class="image-with-text__image-media aspect-ratio aspect-ratio--{{ height }}" style="--ratio-percent: {{ 1 | divided_by: ratio | times: 100 }}%;">
					{%- if image != blank -%}
						{%- liquid
							assign small_height = image.src.height | times: '690' | divided_by: image.src.width
							assign mid_height = image.src.height | times: '1340' | divided_by: image.src.width
							assign master_width = image.src.width | append: 'x' | append: image.src.height
							assign width = '690x' | append: small_height | append: ',' | append: '1340x' | append: mid_height | append: ',' | append: master_width
						-%}
						{%- render 'responsive-image', image: image, sizes: width -%}
					{%- else -%}
						{{ 'image' | placeholder_svg_tag: 'placeholder_svg_tag' }}
					{%- endif -%}
				</div>
			</div>
			<div class="image-with-text__content image-with-text__inner">
				<div class="image-with-text__content--inner">
					{%- for block in section.blocks -%}
						{%- case block.type -%}
							{%- when 'subheading' -%}
								<p class="subheading" {{ block.shopify_attributes }}>{{ block.settings.text }}</p>
							{%- when 'heading' -%}
								<h3 class="{{ block.settings.heading_size }} heading" {{ block.shopify_attributes }}>{{ block.settings.text | newline_to_br }}</h3>
							{%- when 'text' -%}
								<div class="rte" {{ block.shopify_attributes }}>{{ block.settings.text }}</div>
							{%- when 'button' -%}
								{% if block.settings.button_text != blank %}
									<a class="btn hide__mobile {{ block.settings.button_style }}" href="{{ block.settings.button_link }}" role="button" title="{{ block.settings.button_text | escape }}" {{ block.shopify_attributes }}><span>{{ block.settings.button_text }}</span></a>
                  					<a class="btn hide__desktop {{ block.settings.mobile_button_style }}" href="{{ block.settings.button_link }}" role="button" title="{{ block.settings.button_text | escape }}" {{ block.shopify_attributes }}><span>{{ block.settings.button_text }}</span></a>
								{% endif %}
						{%- endcase -%}
					{%- endfor -%}
				</div>
			</div>
		</div>
	</div>
</div>

{% style %}

  #{{ section.id }}.row.full-width-spacing {
    background: {{ section.settings.color_bg }};
  }
  
{% endstyle %}

{% schema %}
{
  "name": "Custom image with text",
  "class": "section-image-with-text",
  "settings": [
    {
      "type": "image_picker",
      "id": "image",
      "label": "Image",
      "info": "1340 x 1340 .jpg recommended."
    },
    {
      "type": "header",
      "content": "Layout"
    },
    {
      "type": "select",
      "id": "height",
      "options": [
        {
          "value": "adapt",
          "label": "Adapt to image"
        },
        {
          "value": "small",
          "label": "Small"
        },
        {
          "value": "large",
          "label": "Large"
        }
      ],
      "default": "adapt",
      "label": "Image height"
    },
    {
      "type": "select",
      "id": "desktop_image_width",
      "options": [
        {
          "value": "small",
          "label": "Small"
        },
        {
          "value": "medium",
          "label": "Medium"
        },
        {
          "value": "large",
          "label": "Large"
        }
      ],
      "default": "medium",
      "label": "Desktop image width",
      "info": "Image is automatically optimized for mobile."
    },
    {
      "type": "select",
      "id": "section_width",
      "options": [
        {
          "value": "grid",
          "label": "Grid"
        },
        {
          "value": "full-width-spacing",
          "label": "Full width, with spacing"
        },
        {
          "value": "full-width-row",
          "label": "Full width"
        },
        {
          "value": "full-width-row-full",
          "label": "Full width, no spacing"
        }
      ],
      "default": "grid",
      "label": "Section width"
    },
    {
      "type": "select",
      "id": "layout",
      "options": [
        {
          "value": "image_first",
          "label": "Image first"
        },
        {
          "value": "text_first",
          "label": "Image second"
        }
      ],
      "default": "image_first",
      "label": "Desktop image placement",
      "info": "Image first is the default mobile layout."
    },
    {
      "type": "select",
      "id": "content_position",
      "label": "Desktop content alignment",
      "options": [
        {
          "value": "text-center",
          "label": "Center"
        },
        {
          "value": "text-left",
          "label": "Left"
        },
        {
          "value": "text-right",
          "label": "Right"
        }
      ],
      "default": "text-left"
    },
    {
      "type": "header",
      "content": "Colors"
    },
    {
      "type": "color",
      "id": "color_bg",
      "label": "Background",
      "default": "#ffffff"
    },
    {
      "type": "color",
      "id": "color_text",
      "label": "Text",
      "default": "#151515"
    },
    {
      "type": "header",
      "content": "Spacing"
    },
    {
      "type": "checkbox",
      "id": "disable_top_spacing",
      "default": false,
      "label": "Remove top spacing"
    },
    {
      "type": "checkbox",
      "id": "disable_bottom_spacing",
      "default": false,
      "label": "Remove bottom spacing"
    },
    {
      "type": "text",
      "id": "custom_class",
      "label": "Custom Class"
    }
  ],
  "blocks": [
    {
      "type": "image",
      "name": "Image",
      "settings": [
        {
          "type": "image_picker",
          "id": "image",
          "label": "Image"
        },
        {
          "type": "checkbox",
          "id": "retina",
          "label": "Enable retina",
          "default": true,
          "info": "Image will be displayed at half the size, making it look crisp on retina screens."
        }
      ]
    },
    {
      "type": "subheading",
      "name": "Subheading",
      "settings": [
        {
          "type": "text",
          "id": "text",
          "label": "Text",
          "default": "Add a tagline"
        }
      ]
    },
    {
      "type": "heading",
      "name": "Heading",
      "settings": [
        {
          "type": "text",
          "id": "text",
          "label": "Text",
          "default": "Image with text"
        }
      ]
    },
    {
      "type": "text",
      "name": "Text",
      "settings": [
        {
          "type": "richtext",
          "id": "text",
          "label": "Content",
          "default": "<p>Pair text with an image to focus on your chosen product, collection, or blog post. Add details on availability, style, or even provide a review.</p>"
        }
      ]
    },
    {
      "type": "button",
      "name": "Button",
      "settings": [
        {
          "id": "button_text",
          "type": "text",
          "label": "Button label",
          "default": "Shop Now",
          "info": "Leave the label blank to hide the button."
        },
        {
          "id": "button_link",
          "type": "url",
          "label": "Button link"
        },
        {
          "type": "select",
          "id": "button_style",
          "label": "Button Style",
          "options": [
            {
              "value": "btn",
              "label": "Default Button"
            },
            {
              "value": "btn--outline",
              "label": "Outline button"
            },
            {
              "value": "btn--gold",
              "label": "Gold button"
            },
            {
              "value": "btn--gray",
              "label": "Gray button"
            },
            {
              "value": "btn--light-gold",
              "label": "Light gold button"
            }
          ],
          "default": "btn"
        },
        {
          "type": "select",
          "id": "mobile_button_style",
          "label": "Mobile Button Style",
          "options": [
            {
              "value": "btn",
              "label": "Default Button"
            },
            {
              "value": "btn--outline",
              "label": "Outline button"
            },
            {
              "value": "btn--gold",
              "label": "Gold button"
            },
            {
              "value": "btn--gray",
              "label": "Gray button"
            },
            {
              "value": "btn--light-gold",
              "label": "Light gold button"
            }
          ],
          "default": "btn"
        }
      ]
    }
  ],
  "presets": [
    {
      "name": "Custom image with text",
      "blocks": [
        {
          "type": "subheading"
        },
        {
          "type": "heading"
        },
        {
          "type": "text"
        }
      ]
    }
  ]
}
{% endschema %}
