{{- 'meet-your-host.css' | asset_url | stylesheet_tag -}}

{%- liquid
	assign section_width = section.settings.section_width
	assign image = section.settings.image
	assign content_position = section.settings.content_position
	assign desktop_image_width = section.settings.desktop_image_width
	assign desktop_layout = section.settings.layout
	assign color_bg = section.settings.color_bg
	assign color_text = section.settings.color_text
	assign color_border = section.settings.color_border
	assign disable_top_spacing = section.settings.disable_top_spacing
	assign disable_bottom_spacing = section.settings.disable_bottom_spacing

	assign ratio = 1
	if height == 'adapt' and image != blank
		assign ratio = image.aspect_ratio
	endif
-%}

<div class="row">
  <div class="small-12 columns">
    <div class="trip__schedule--section grid--image-{{ desktop_image_width }} {{ desktop_layout }} {{ content_position }} section-spacing{% if disable_top_spacing %} section-spacing--disable-top{% endif %}{% if disable_bottom_spacing %} section-spacing--disable-bottom{% endif %}" style="--color-bg:{{ color_bg }};--color-text:{{ color_text }};--color-text-rgb: {{ color_text | color_extract: 'red' }}, {{ color_text | color_extract: 'green' }}, {{ color_text | color_extract: 'blue' }}; --bg-body: {{ color_bg }};--color-border: {{ color_border }}">
      <div class="trip__schedule--header">
        <h3 class="section_heading">{{ section.settings.heading }}</h3> 
        <p class="section_description">{{ section.settings.description }}</h3>
      </div>
      <div class="trip__schedule--wrap">
        <div class="trip__schedule--image trip__schedule--items">
          <div class="trip__schedule-media aspect-ratio aspect-ratio--{{ height }}" style="--ratio-percent: {{ 1 | divided_by: ratio | times: 100 }}%;">
            {%- if image != blank -%}
                {%- liquid
                    assign small_height = image.src.height | times: '690' | divided_by: image.src.width
                    assign mid_height = image.src.height | times: '1340' | divided_by: image.src.width
                    assign master_width = image.src.width | append: 'x' | append: image.src.height
                    assign width = '690x' | append: small_height | append: ',' | append: '1340x' | append: mid_height | append: ',' | append: master_width
                -%}
                {%- render 'responsive-image', image: image, sizes: width -%}
            {%- else -%}
                {{ 'image' | placeholder_svg_tag: 'placeholder_svg_tag' }}
            {%- endif -%}
          </div>
        </div>
        <div class="trip__schedule--text trip__schedule--items">
          <div class="trip__schedule--text--inner">
            {%- for block in section.blocks -%}
              <div class="schedule__detail">
                <h3 class="heading" {{ block.shopify_attributes }}>{{ block.settings.heading | newline_to_br }}</h3>
                <div class="rte" {{ block.shopify_attributes }}>{{ block.settings.description }}</div>
              </div>
            {%- endfor -%}
          </div>
        </div>
      </div>
    </div>
  </div>
</div>

{% style %}

  .section-image-with-text .row.full-width-spacing {
    background: {{ section.settings.color_bg }};
  }
  
{% endstyle %}

{% schema %}
{
  "name": "Trip Schedule",
  "class": "section-image-with-text",
  "settings": [
    {
      "type": "text",
      "id": "heading",
      "label": "Heading",
      "default": "Heading"
    },
    {
      "type": "text",
      "id": "description",
      "label": "Description",
      "default": "Description"
    },
    {
      "type": "image_picker",
      "id": "image",
      "label": "Image",
      "info": "1340 x 1340 .jpg recommended."
    },
    {
      "type": "header",
      "content": "Layout"
    },
    {
      "type": "select",
      "id": "section_width",
      "options": [
        {
          "value": "full-width-spacing",
          "label": "Full width, with spacing"
        },
        {
          "value": "full-width-row-full",
          "label": "Full width, no spacing"
        }
      ],
      "default": "full-width-spacing",
      "label": "Section width"
    },
    {
      "type": "select",
      "id": "layout",
      "options": [
        {
          "value": "image_first",
          "label": "Image first"
        },
        {
          "value": "text_first",
          "label": "Image second"
        }
      ],
      "default": "image_first",
      "label": "Desktop image placement",
      "info": "Image first is the default mobile layout."
    },
    {
      "type": "select",
      "id": "content_position",
      "label": "Desktop content alignment",
      "options": [
        {
          "value": "text-center",
          "label": "Center"
        },
        {
          "value": "text-left",
          "label": "Left"
        },
        {
          "value": "text-right",
          "label": "Right"
        }
      ],
      "default": "text-left"
    },
    {
      "type": "header",
      "content": "Colors"
    },
    {
      "type": "color",
      "id": "color_bg",
      "label": "Background",
      "default": "#ffffff"
    },
    {
      "type": "color",
      "id": "color_text",
      "label": "Text",
      "default": "#151515"
    },
    {
      "type": "color",
      "id": "color_border",
      "label": "Borders",
      "default": "#e2e2e2"
    },
    {
      "type": "header",
      "content": "Spacing"
    },
    {
      "type": "checkbox",
      "id": "disable_top_spacing",
      "default": false,
      "label": "Remove top spacing"
    },
    {
      "type": "checkbox",
      "id": "disable_bottom_spacing",
      "default": false,
      "label": "Remove bottom spacing"
    }
  ],
  "blocks": [
    {
      "type": "day-schedule",
      "name": "Day Schedule",
      "settings": [
        {
          "type": "text",
          "id": "heading",
          "label": "Heading",
          "default": "Heading"
        },
        {
          "type": "richtext",
          "id": "description",
          "label": "Heading",
          "default": "<p>Lorem Ipsum is simply dummy text of the printing and typesetting industry. Lorem Ipsum has been the industry's standard dummy text ever since the 1500s, when an unknown printer took a galley of type and scrambled it to make a type specimen book.</p>"
        }
      ]
    }
  ],
  "presets": [
    {
      "name": "Trip Schedule",
      "blocks": [
        {
          "type": "day-schedule"
        }
      ]
    }
  ]
}
{% endschema %}
