{{- 'classes-events-blocks.css' | asset_url | stylesheet_tag -}}
{{- 'virtual-events-blocks.css' | asset_url | stylesheet_tag -}}

{%- liquid
  assign section_width = section.settings.section_width
-%}

<div class="{{ section_width }} virtual__events--wrap classes__events--wrap" id="section--{{ section.id }}">
  <div class="row">
    <div class="section__header">
      {% if section.settings.section_heading != blank %}
        <h2 class="section__heading text-center">{{ section.settings.section_heading }}</h2>
      {% endif %}
      <div class="event__steps">
        <div class="event__item">
          <div class="count">1</div>
          <div class="step__text">To take part in our virtual classes, first purchase your class’s corresponding set in our web store.</div>
        </div>
        <div class="event__item">
          <div class="count">2</div>
          <div class="step__text">Your class materials will be shipped to you, along with a URL to sign up (and a discount code to bring your registration fee down to $0)</div>
        </div>
        <div class="event__item">
          <div class="count">3</div>
          <div class="step__text">Sign up for your class and choose a time that works for you. Enjoy!</div>
        </div>
      </div>
    </div>
    <div class="block__items--wrap">
      {% for block in section.blocks %}
        {% assign image = block.settings.image %}
        <div class="block__items" id="block--{{ block.id }}">
          <div class="image__wrap">
            {% if image %}
              {%- liquid
                assign small_width = image.src.height | times: '375' | divided_by: image.src.width
                assign master_width = image.src.width | append: 'x' | append: image.src.height
                assign width = '375x' | append: small_width | append: ',' | append: master_width
                assign class = ''
              -%}
              {%- render 'responsive-image', image: image, sizes: width, class: class -%}
            {% else %}
              {{ 'collection-2' | placeholder_svg_tag: 'placeholder_svg_tag' }}
            {% endif %}
          </div>
  
          <div class="text__wrap">
            <div class="block__header">
              {% if block.settings.heading != blank %}
                <h3 class="heading" {{ block.shopify_attributes }} style="color: {{ block.settings.heading_color }}">
                  {{ block.settings.heading | newline_to_br }}
                </h3>
              {% endif %}
            </div>
  
            <div class="icon__row--wrap">
              {% for i in (1..5) %}
                {% assign icon = 'icon_' | append: i %}
                {% assign icon_svg = block.settings[icon] %}
                {% assign icon_text = 'icon_text_' | append: i %}
                {% assign icon_text_value = block.settings[icon_text] %}
                  {% if icon_svg != blank or icon_text_value != blank %}
                    <div class="icon_items">
                      {% if icon_svg != blank %}
                        {{ icon_svg }}
                      {% endif %}
                      {% if icon_text_value != blank %}
                        <p>{{ icon_text_value }}</p>
                      {% endif %}
                    </div>
                  {% endif %}              
              {% endfor %}
            </div>
  
            <div class="detail_row">
              <div class="detail_row--item">
                {% if block.settings.detail_heading != blank %}
                  <span class="details-heading">
                    {{ block.settings.detail_heading }}
                  </span>
                {% endif %}
  
                {% if block.settings.detail_content != blank %}
                  <span class="details-content-text">
                    {{ block.settings.detail_content }}
                  </span>
                {% endif %}
              </div>
  
              <div class="detail_row--item">
                {% if block.settings.detail_heading_2 != blank %}
                  <span class="details-heading">
                    {{ block.settings.detail_heading_2 }}
                  </span>
                {% endif %}
  
                {% if block.settings.detail_content_2 != blank %}
                  <span class="details-content-text">
                    {{ block.settings.detail_content_2 }}
                  </span>
                {% endif %}
              </div>
            </div>
  
            {% if block.settings.text != blank %}
              <div class="block__description">
                <div
                  class="description body-1"
                  {{ block.shopify_attributes }}
                  style="color: {{ block.settings.text_color }}"
                >
                  {{ block.settings.text }}
                </div>
              </div>
            {% endif %}
  
            <div class="block__buttons">
              {% if block.settings.button_link != blank %}
                <a
                  class="btn {% if block.settings.button_style == 'btn--gold' %}custom__btn{% else %}{{ block.settings.button_style }}{% endif %}"
                  href="{{ block.settings.button_link }}"
                  role="button"
                  title="{{ block.settings.button_text | escape }}"
                  {{ block.shopify_attributes }}
                  ><span>{{ block.settings.button_text }}</span></a
                >
              {% endif %}
  
              {% if block.settings.link_url != blank %}
                <div class="link__wrap">
                    <p>Already ordered your kit?</p>
                    <a
                      class="link__item"
                      href="{{ block.settings.link_url }}"
                      title="{{ block.settings.link_text | escape }}"
                      {{ block.shopify_attributes }}
                      ><span>{{ block.settings.link_text }}</span></a
                    >
                </div>
              {% endif %}
        
            </div>
          </div>
          {% style %}
            #block--{{ block.id }} .heading {
              color: {{ block.settings.heading_color }}
            }
            #block--{{ block.id }} .subheading {
              color: {{ block.settings.caption_color }}
            }
            #block--{{ block.id }} .block__description * {
              color: {{ block.settings.text_color }}
            }
          {% endstyle %}
        </div>
      {% endfor %}
    </div>
    {% if section.settings.section_footer != blank %}
      <div class="section__footer text-center">{{ section.settings.section_footer }}</div>
    {% endif %}
  </div>
</div>

{% style %}
  #section--{{ section.id }} .block__items {
    background: {{ section.settings.block_color }};
  }

  #section--{{ section.id }} .section__header * {
    color: {{ section.settings.text_color }};
  }

  #section--{{ section.id }} {
    background: {{ section.settings.bg_color }};
    padding-top : {{ section.settings.top_spacing_desktop }}px;
    padding-bottom : {{ section.settings.bottom_spacing_desktop }}px;
  }

  #section--{{ section.id }} * {
    color: {{ color_text }};
  }

  @media only screen and (max-width: 767px) {
      
    #section--{{ section.id }} {
      padding-top : {{ section.settings.top_spacing_mobile }}px;
      padding-bottom : {{ section.settings.bottom_spacing_mobile }}px;
    }
    
  }
  
{% endstyle %}

{% schema %}
{
  "name": "Virtual Events Blocks",
  "settings": [
    {
      "type": "text",
      "id": "section_heading",
      "label": "Heading",
      "default": "Heading"
    },
    {
      "type": "richtext",
      "id": "section_footer",
      "label": "Footer Text"
    },
    {
      "type": "text",
      "id": "step_1",
      "label": "Step 1 Text"
    },
    {
      "type": "text",
      "id": "step_2",
      "label": "Step 2 Text"
    },
    {
      "type": "text",
      "id": "step_3",
      "label": "Step 3 Text"
    },
    {
      "type": "select",
      "id": "section_width",
      "options": [
        {
          "value": "grid",
          "label": "Grid"
        },
        {
          "value": "full-width-row",
          "label": "Full width"
        },
        {
          "value": "full-width-row-full",
          "label": "Full width, no spacing"
        }
      ],
      "default": "grid",
      "label": "Section width"
    },
    {
      "type": "header",
      "content": "colors"
    },
    {
      "type": "color",
      "id": "bg_color",
      "label": "Background",
      "default": "#F5F6F5"
    },
    {
      "type": "color",
      "id": "block_color",
      "label": "Block Background",
      "default": "#fff"
    },
    {
      "type": "color",
      "id": "text_color",
      "label": "Color",
      "default": "#333"
    },
    {
      "type": "header",
      "content": "Desktop Spacing"
    },
    {
      "type": "range",
      "id": "top_spacing_desktop",
      "min": 20,
      "max": 100,
      "step": 2,
      "unit": "px",
      "label": "Top Spacing",
      "default": 40
    },
    {
      "type": "range",
      "id": "bottom_spacing_desktop",
      "min": 20,
      "max": 100,
      "step": 2,
      "unit": "px",
      "label": "Bottom Spacing",
      "default": 40
    },
    {
      "type": "header",
      "content": "Mobile Spacing"
    },
    {
      "type": "range",
      "id": "top_spacing_mobile",
      "min": 0,
      "max": 140,
      "step": 2,
      "unit": "px",
      "label": "Top Spacing",
      "default": 40
    },
    {
      "type": "range",
      "id": "bottom_spacing_mobile",
      "min": 0,
      "max": 140,
      "step": 2,
      "unit": "px",
      "label": "Bottom Spacing",
      "default": 40
    }
  ],
  "blocks": [
    {
      "type": "product",
      "name": "Product Details",
      "settings": [
        {
          "type": "header",
          "content": "Image"
        },
        {
          "type": "image_picker",
          "id": "image",
          "label": "Product Image",
          "info": "2800 x 650 .jpg recommended."
        },
        {
          "type": "text",
          "id": "heading",
          "label": "Heading",
          "default": "Heading"
        },
        {
          "type": "header",
          "content": "Icons"
        },
        {
          "type": "header",
          "content": "Icon 1"
        },
        {
          "type": "textarea",
          "id": "icon_1",
          "label": "Icon",
          "info": "Add Icon Svg"
        },
        {
          "type": "text",
          "id": "icon_text_1",
          "label": "Icon Text",
          "default": "Icon Text"
        },
        {
          "type": "header",
          "content": "Icon 2"
        },
        {
          "type": "textarea",
          "id": "icon_2",
          "label": "Icon",
          "info": "Add Icon Svg"
        },
        {
          "type": "text",
          "id": "icon_text_2",
          "label": "Icon Text",
          "default": "Icon Text"
        },
        {
          "type": "header",
          "content": "Icon 3"
        },
        {
          "type": "textarea",
          "id": "icon_3",
          "label": "Icon",
          "info": "Add Icon Svg"
        },
        {
          "type": "text",
          "id": "icon_text_3",
          "label": "Icon Text",
          "default": "Icon Text"
        },
        {
          "type": "header",
          "content": "Icon 4"
        },
        {
          "type": "textarea",
          "id": "icon_4",
          "label": "Icon",
          "info": "Add Icon Svg"
        },
        {
          "type": "text",
          "id": "icon_text_4",
          "label": "Icon Text",
          "default": "Icon Text"
        },
        {
          "type": "header",
          "content": "Icon 5"
        },
        {
          "type": "textarea",
          "id": "icon_5",
          "label": "Icon",
          "info": "Add Icon Svg"
        },
        {
          "type": "text",
          "id": "icon_text_5",
          "label": "Icon Text",
          "default": "Icon Text"
        },
        {
          "type": "header",
          "content": "Detail Row"
        },
        {
          "type": "text",
          "id": "detail_heading",
          "default": "Heading",
          "info": "Include a heading that explains the content.",
          "label": "Heading"
        },
        {
          "type": "richtext",
          "id": "detail_content",
          "default": "<p>Content</p>",
          "info": "Include a heading that explains the content.",
          "label": "Content"
        },
        {
          "type": "text",
          "id": "detail_heading_2",
          "default": "Heading",
          "info": "Include a heading that explains the content.",
          "label": "Heading"
        },
        {
          "type": "richtext",
          "id": "detail_content_2",
          "default": "<p>Content</p>",
          "info": "Include a heading that explains the content.",
          "label": "Content"
        },
        {
          "type": "richtext",
          "id": "text",
          "label": "Content",
          "default": "<p>Pair text with an image to focus on your chosen product, collection, or blog post. Add details on availability, style, or even provide a review.</p>"
        },
        {
          "type": "header",
          "content": "Buttons"
        },
        {
          "type": "header",
          "content": "First Button"
        },
        {
          "id": "button_text",
          "type": "text",
          "label": "Button label",
          "default": "Shop Now",
          "info": "Leave the label blank to hide the button."
        },
        {
          "id": "button_link",
          "type": "url",
          "label": "Button link"
        },
        {
          "type": "select",
          "id": "button_style",
          "label": "Desktop Button Style",
          "options": [
            {
              "value": "btn--white",
              "label": "White Button"
            },
            {
              "value": "btn--gray",
              "label": "Gray Button"
            },
            {
              "value": "btn--gold",
              "label": "Gold Button"
            },
            {
              "value": "btn--light-gold",
              "label": "Light Gold Button"
            },
            {
              "value": "btn--outline",
              "label": "Gray Outline Button"
            }
          ],
          "default": "btn--white"
        },
        {
          "type": "header",
          "content": "Link URL"
        },
        {
          "id": "link_text",
          "type": "text",
          "label": "Link label",
          "default": "Shop Now",
          "info": "REGISTER FOR CLASS"
        },
        {
          "id": "link_url",
          "type": "url",
          "label": "Link URL"
        },
        {
          "type": "header",
          "content": "Colors"
        },
        {
          "type": "color",
          "id": "caption_color",
          "label": "Subheading",
          "default": "#333"
        },
        {
          "type": "color",
          "id": "heading_color",
          "label": "Heading",
          "default": "#333"
        },
        {
          "type": "color",
          "id": "text_color",
          "label": "Description",
          "default": "#333"
        }
      ]
    }
  ],
  "max_blocks": 6,
  "presets": [
    {
      "name": "Virtual Events Blocks",
      "blocks": [
        {
          "type": "product"
        },
        {
          "type": "product"
        }
      ]
    }
  ]
}
{% endschema %}
